@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-size-paragraph: 15px;
  --font-weight-paragraph: 500;
  --font-weight-title: 700;
  --font-family-outfit: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background: var(--slate-300);
}

.container {
  width: 100vw;
  height: 100vh;
  align-content: center;
  padding-inline: 1.5rem;
}

.card {
  background: var(--white);
  max-width: 320px;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: rgba(31, 50, 81, 0.1) 0px 15px 20px 0px;
}

.card-image {
  width: 100%;
  border-radius: 0.75rem;
  aspect-ratio: 1/1;
}

.card-content {
  text-align: center;
}

.card-title {
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-title);
  font-size: 22px;
  color: var(--slate-900);
  padding-inline: 0.75rem;
}

.card-text {
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
  color: var(--slate-500);
  padding: 1rem;
  line-height: 1.25rem;
}
